*{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 1em;
	background: #2E4053;
	color: #AAB0B7;
	margin: 10px 50px;
	text-align: center
	text-indent: 1em;
}
a{
	color: #AEB3B9;
}
h1{
	color: #AAB0B7;
	text-shadow: 5px 5px 15px; 
}
