body{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 1em;
	background: #2E4053;
	color: #AAB0B7;
	text-align: center;
}
*{
	box-sizing:border-box;
}
.header{
	border: 1px;
	padding: 15px;
}
.menu{
	width: 25%;
	float: left;
	padding:15px;
}
.main{
	width: 75%;
	float: left;
	padding: 15px
}
p{
	margin: 0.5% 10% 1% 25%;
	text-indent: 1em;
}
a{
	color: #AEB3B9;
	margin: 1% 10% 1% 25%;
}
h1, h2, h3{
	font-size: 2em;
	color: #AAB0B7;
	text-decoration: underline;
	margin: 2% 10% 0% 25%;
}
ul{
	list-style-type: none;
	margin: 0 0 0 2%;
	padding: 10px 0px;
	width: 25%;
	max-width: 350px;
	min-width: 225px;
	position: fixed;
	overflow: auto;
	background-color: #AAB0B7;
	border: 5px double dimgrey; 
}
li a{
	display:block;
	color: #2E4053;
	padding: 8px 16px;
	text-decoration: none;
	margin: 0;
}
li a:hover{
	background-color: #555;
	color: #AAB0B7
}
img#home {
    margin: 2% 10% 0% 25%;
}
