body{
	font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	background: #2E4053;
	color: #AAB0B7;
}
a{
	color: #AEB3B9;
}
h1{
	color: #AAB0B7;
	text-shadow: 5px 5px 15px;
}
